/*

CSS FOR COUNTER APP

.App {
 text-align:center;
 display:flex;
 justify-content: start;
 align-items: center;
 flex-direction: column;
 min-height: 100vh;
 color: aliceblue;
 background: gray;
}

button{
  color:#ffffff;
  padding: 5px 25px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 300px;
  border-radius: 15px;
  background-color: green;

} */

body{
  background-color: #000000;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.icon {
  font-size: 35px;
  color: #000000;
}


